{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
   
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'core/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'core/login.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'core/simple-sidebar.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'core/findvetstyle.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'core/managecatsstyle.css' %}">
  
    <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">
    <meta charset="utf-8">

    <title>Cat Wellbeing</title>
</head>

<body>

    <div class="d-flex" id="wrapper">

        <!-- Sidebar -->
        <div class="bg-light border-right" id="sidebar-wrapper">
            <div class="sidebar-heading">Cat Wellbeing</div>
            <div class="list-group list-group-flush">
                <a href="{% url 'core-home' %}" class="list-group-item list-group-item-action bg-light">Home</a>
                <a href="{% url 'core-cats' %}" class="list-group-item list-group-item-action bg-light">Manage Cats</a>
                <a href="{% url 'core-expenses' %}" class="list-group-item list-group-item-action bg-light">Expenses</a>
                <a href="{% url 'core-reminders' %}" class="list-group-item list-group-item-action bg-light">Schedule Reminder</a>
                <a href="{% url 'core-findvet' %}" class="list-group-item list-group-item-action bg-light">Find a Vet</a>
                <a href="{% url 'core-forum' %}" class="list-group-item list-group-item-action bg-light">Forum</a>
                <a href="{% url 'profile' %}" class="list-group-item list-group-item-action bg-light">Profile</a>
                <a href="{% url 'logout' %}" class="list-group-item list-group-item-action bg-light">Logout</a>
            </div>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">

            <div class="container-fluid">
                {% block content %}{% endblock %}
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

</body>

</html>