<html>
<head>
</head>
<body>
<h2>Thank you for signing up to CatWellbeing</h2>
<p>Did you know that as an owner of a cat you should probably know about The Animal Welfare Act 2006 that describes the responsibilty of owners towards their pets, here is a summary : <br>1.Need for a suitable environment  <br>2.Need for a suitable diet  <br>3.Need to exhibit normal behaviour patterns <br> 4.Need to be housed with,or apart, from other animals  <br> 5.Need to be protected from pain,suffering,injury and disease.'
</p>
</body>
</html>